body {
    background: lightgrey;
  }
  h3 {
    color: white;
    font-size: 3em;
    font-family: Helvetica, Arial, sans-serif;
  }
  .main-text{
    position: absolute;
    width: 300px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -25px);
  }
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:blue;
    margin:20px;
    
  }
  
  .wrapper {
    width:500px;
    perspective:300px;
    height:300px;
    margin:0 auto;
    margin-top:20% !important;

  }